<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>exerciselog</title>
    <style type="text/css" media="screen">
        .box { width:100px; height:100px; float:left; }
        .n1 { background-color: #34363B; }
        .n2 { background-color: #A9B0C3; }
        .n3 { background-color: #DEE7FF; }
        .n4 { background-color: #FFFFFF; }
        .n5 { background-color: #58FF8B; }
        .n6 { background-color: #FF6E57; }
        .n7 { background-color: #FFE25F; }
        .n8 { background-color: #61C3FF; }
    </style>
</head>
<body>

<div class="box n1"></div>
<div class="box n2"></div>
<div class="box n3"></div>
<div class="box n4"></div>
<div class="box n5"></div>
<div class="box n6"></div>
<div class="box n7"></div>
<div class="box n8"></div>
</body>
</html>
